   
      <div class="container">

        <div class="loading-screen"></div>
       
        <div class="loader">
              <div class="ringOne ring">
                    <img src="../assets/ring.png" alt="">
              </div>
              <div class="ringTwo ring">
                    <img src="../assets/ring.png" alt="">
              </div>
        </div>

  </div>

  <div class="logo">
       FilesFiddle
  </div>

  <div class="contact">GET IN TOUCH</div>

  <div class="menu">
    <li>a</li>
    <li>a</li>
    <li>a</li>
  </div>

  <div class="header">
        
        <h1 class="ml7" id="title">            
              <span class="text-wrapper">
                    <span class="letters">The connected world</span>
              </span>
        </h1>
                        
                        
        <p id="tagline" class="p1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim blanditiis voluptatum, magnam odio, tempora asperiores, quod quasi alias expedita esse eveniet impedit nihil quae nulla sint iure accusantium architecto aperiam.</p>
        
        <br><br>
        
        <p id="tagline" class="p2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla facere ad illo, perferendis impedit animi quasi iure provident! Iste, facere!</p>
        
        <div class="buttons">
              <button id="one">LEARN MORE</button>
              <button id="two">BUY NOW</button>
        </div>

  </div>

  <div class="bottom-text">+0.00001db</div>

  <div class="copyright">© 2019 by Codegrid. All rights reserved.</div>


  <div class="media">
        <ul>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
        </ul>
  </div>
