@import url('https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap');

.ml6 {
    position: relative;
    font-weight: 600;
    font-size: 3.3em;
    width: auto;
    padding: 20px;
    text-align: center;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }

  * {
      margin: 0;
      font-family: 'Architects Daughter', cursive;
  }